<div class = 'panel panel-primary'>
  <div class= 'panel-heading'>
    {{pageTitle}}
  </div>
  <div class='panel-body'>
    <div class='row'>
      <div class='col-md-2'>Keresés:</div>
      <div class='col-md-4'>
        <input type='text' [(ngModel)]='listFilter'/>
      </div>
    </div>
    <div class='table-responsive'>
      <table class='table'
       *ngIf='users && users.length'>
        <thead>
          <tr>
            <th>Username</th>
            <th>First name</th>
            <th>Last name</th>
            <th>Email</th>
            <th>Address</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor='let user of filteredUsers'>
            <td>{{user.userName}}</td>
            <td>{{user.firstName}}</td>
            <td>{{user.lastName}}</td>
            <td>{{user.email}}</td>
            <td>{{user.address}}</td>
            <td>
                <button class="btn btn-primary">Szerkeszt</button>
            </td>
            <td>
                <button class="btn btn-primary" (click)="deleteUser(user.id)">Törlés</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div *ngIf='errorMessage' class='alert alert-danger'>
  Error: {{ errorMessage }}
</div>