<div class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand">Transporthub</a>
        </div>

        <div class="collapse navbar-collapse" *ngIf="isLoggedIn()">
            <ul class="nav navbar-nav">
                <li *ngIf="isAdmin()">
                    <a [routerLink]="['users']"
                    routerLinkActive="active"
                    [routerLinkActiveOptions]="{exact:true}">Felhasználók</a>
                </li>
                <li>
                    <a [routerLink]="['transport']"
                    routerLinkActive="active"
                    [routerLinkActiveOptions]="{exact:true}">Transzportok</a>
                </li>
            </ul>
            
            <div class="navbar-header navbar-right" *ngIf="isLoggedIn()">
                <ul class="nav navbar-nav">
                    <li>
                        <a [routerLink]="['']"
                        routerLinkActive="active">{{userName}}</a>
                    </li>
                    <li>
                        <button class="btn"(click)="logout()">Logout</button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>