<div class='panel panel-primary'>
    <div class='panel-heading'>
        {{pageTitle}}
    </div>
    <div class='panel-body'>
        <div class='row'>
            <div class='col-md-6'>
                <button class="btn btn-primary" (click)="createTransport()" >Create Transport</button>
            </div>
        </div>
        <div class='table-responsive'>
            <table class='table'
                *ngIf='transports && transports.length'>
                <thead>
                    <tr>
                        <th>Neve</th>
                        <th>Indulás helye</th>
                        <th>Érkezés helye</th>
                        <th>Indulásig hátralévő (nap)</th>
                        <th>Tulajdonos</th>
                        <th>Jelenlegi ár</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor='let transport of transports'>
                        <td [style.color]="isCurrentHighestBidder(transport.lowestBidder)">{{transport.cargoName}}</td>
                        <td [style.color]="isCurrentHighestBidder(transport.lowestBidder)">{{transport.cityFrom}}</td>
                        <td [style.color]="isCurrentHighestBidder(transport.lowestBidder)">{{transport.cityTo}}</td>
                        <td [style.color]="isCurrentHighestBidder(transport.lowestBidder)">{{transport.daysRemaining}}</td>
                        <td [style.color]="isCurrentHighestBidder(transport.lowestBidder)">{{transport.owner}}</td>
                        <td [style.color]="isCurrentHighestBidder(transport.lowestBidder)">{{transport.currentPrice}}</td>
                        <td class="buttons">
                            <button class="btn btn-primary" (click)="transportDetails(transport.id)">
                                <i class="fa fa-pencil"></i>
                            </button>
                        </td>
                        <td class="buttons" *ngIf="isOwnTransport(transport.owner) || isAdmin()">
                            <button class="btn btn-primary" (click)="deleteTransport(transport.id)">
                                <i class="fa fa-times"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div *ngIf='errorMessage' class='alert alert-danger'>
    Error: {{ errorMessage }}
  </div>