<div class='panel panel-primary'>
    <div class='panel-heading'>
        {{pageTitle}}
    </div>
    <div class='panel-body'>
        <div class='row'>
            <div class='col-md-6'>
                <button class="btn btn-primary" [routerLink]="['create']" >Create Transport</button>
            </div>
        </div>
        <div class='table-responsive'>
            <table class='table'
                *ngIf='transports && transports.length'>
                <thead>
                    <tr>
                        <th>Neve</th>
                        <th>Indulás helye</th>
                        <th>Érkezés helye</th>
                        <th>Induláig hátralévő</th>
                        <th>Tulajdonos</th>
                        <th>Jelenlegi ár</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor='let transport of transports'>
                        <td>{{transport.cargoName}}</td>
                        <td>{{transport.cityFrom}}</td>
                        <td>{{transport.cityTo}}</td>
                        <td>{{transport.daysRemaining}}</td>
                        <td>{{transport.owner}}</td>
                        <td>{{transport.currentPrice}}</td>
                        <td>
                            <button class="btn btn-primary" (click)="transportDetails(transport.id)">Részletek</button>
                        </td>
                        <td>
                            <button class="btn btn-primary" (click)="deleteTransport(transport.id)">Törlés</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div *ngIf='errorMessage' class='alert alert-danger'>
    Error: {{ errorMessage }}
  </div>